/* global variables */
:root {
  color-scheme: light dark;

  --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: #ffffff;

  --color-h1: #1b2832;

  --color-h2: #24333e;

  --color-h3: #73828c;

  --color-nav: #415462;

  --color-nav-hover: cornflowerblue;

  --color-svg-logo: #73828c;

  --color-svg-logo-hover: #1b2832;
}

/* body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: var(--color-background);

  padding: 0;
  margin: 0;
}

body.darkMode {
  --color-background: #11191f;

  --color-h1: #edf0f3;

  --color-h2: #c8d1d8;

  --color-h3: #73828c;

  --color-nav: #bbc6ce;

  --color-nav-hover: cornflowerblue;

  --color-svg-logo: #73828c;

  --color-svg-logo-hover: #edf0f3;
}

/* nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-width: 100vw;

  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 70%;

  padding: 0;
  margin: 0;

  list-style-type: none;
}

li {
  font-size: 1.25rem;
  font-family: var(--font-family);
  color: var(--color-nav);

  margin: 1.5rem;
}

li > a {
  color: var(--color-nav);
  transition: 0.5s;
}

li > a:hover {
  color: var(--color-nav-hover);
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* headers */
h1 {
  font-size: 2.5rem;
  font-family: var(--font-family);
  color: var(--color-h1);

  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
  font-family: var(--font-family);
  color: var(--color-h2);

  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.3rem;
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--color-h3);

  padding: 0;
  margin: 0;
}

/* profile picture */
img {
  max-width: 200px;
  max-height: 200px;

  border-radius: 50%;
}

/* svg links */
.svg-link {
  text-decoration: none;

  padding: 0;
  margin: 0;
}

.svg-logo {
  fill: var(--color-svg-logo);
  transition: 0.5s;

  width: 75px;
  height: auto;

  margin: 1rem;
}

.svg-logo:hover {
  fill: var(--color-svg-logo-hover);
}

/* theme toggle */
.theme {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.theme > a > svg {
  fill: var(--color-svg-logo);
  transition: 0.5s;

  width: 25px;
  height: auto;
}

.theme > a > svg:hover {
  fill: var(--color-svg-logo-hover);
  cursor: pointer;
}

/* responsiveness for mobile */
@media screen and (max-width: 600px) {
  ul {
    width: 100%;
  }

  li {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  img {
    width: 125px;
    height: 125px;
  }

  .svg-logo {
    width: 50px;
  }
}
